body {
    font-family: sans-serif;
    padding: 15px;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  input {
    padding: 0.5px;
    margin-right: 0.5px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  